
:root {
    --mentor-image: linear-gradient(to bottom, #3a1c71, #d76d77, #ffaf7b);
    --mentor-color: #CEA0AA;
    --member-color: linear-gradient(to bottom, #108dc7, #ef8e38);
    --member-image: linear-gradient(225deg, #A8BFFF 0%, #884D80 100%);
    --member-back-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    --comments-image: linear-gradient(225deg, #A8BFFF 0%, #884D80 100%);
}
.disc1, .disc2 ,.disc5{
    padding: 3px;
    border-radius: 10px;
    margin:3px 0px 3px 0px;

}
.disc1 {
    background-image:var(--member-color);
}
.disc2 {
    background-image: var(--mentor-image);
}
.disc5 {
    background-image: var(--mentor-image);
}
.heading {
    margin-top: 0vh;
    color: white;
    text-align: center;
    font-size: medium;
    font-weight: 700;
    padding: 10px;
}

.mentors td,
.members td {
    text-align: center;
    padding: 1vh 2vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    color: black;
    background-color: white;
}
.mentors,.members ,.comments     {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
}

.votes {
    color: black;
    padding-left:10px;
    font-size: large;
    font-weight: 700;
}

.comments_header {
    padding:6px 0px 0px 6px;
    color:black;
    font-weight:600;
}
.comments_content {
    border-radius: 6px;
    padding-left:6px;
    font-style:normal

}
