
.mentors {
    background-color: #9fa4c4;
    background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
}
    /* Apply styles to every odd row within .mentors */

heading {
    display: block;
    padding: 5px;
    color: black;
    text-decoration: underline;
}

.members {
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

.cell {
}

.comments_header {
    padding:6px;
    border-radius:6px;
    background-color: #44b09e;
    background-image: linear-gradient(70deg, #44b09e 0%, #e0d2c7 74%);
}
.comments_content {
    padding: 6px;
    border-radius: 6px;
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
}
.total {
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
}